@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 120 100% 100%;
    --foreground: 0 0% 0%;

    --muted: 2 48% 86%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 140 39% 79%;
    --input: 0 0% 0%;

    --primary: 336 80% 25%;
    --primary-foreground: 120 100% 100%;

    --secondary: 295 95% 7%;
    --secondary-foreground: 120 100% 100%;

    --accent: 162 79% 94%;
    --accent-foreground: 0 0% 0%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --success: 130 91% 78%;
    --success-foreground: 0 0% 0%;
  }

  .dark {
    --background: 0 0% 10%;
    --foreground: 0 0% 100%;

    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 80%;

    --popover: 0 0% 15%;
    --popover-foreground: 0 0% 85%;

    --card: 0 0% 15%;
    --card-foreground: 0 0% 85%;

    --border: 0 0% 25%;
    --input: 0 0% 100%;

    --primary: 336 80% 65%;
    --primary-foreground: 0 0% 10%;

    --secondary: 295 95% 70%;
    --secondary-foreground: 0 0% 10%;

    --accent: 162 79% 40%;
    --accent-foreground: 0 0% 10%;

    --destructive: 0 84.2% 65%;
    --destructive-foreground: 0 0% 10%;

    --ring: 0 0% 100%;

    --radius: 0.5rem;

    --success: 130 91% 78%;
    --success-foreground: 0 0% 0%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
