@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 7 87% 95%;
    --foreground: 0 0% 0%;

    --muted: 2 48% 86%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 0 0% 0%;
    --input: 0 0% 0%;

    --primary: 184 100% 76%;
    --primary-foreground: 0 0% 0%;

    --secondary: 332 100% 80%;
    --secondary-foreground: 0 0% 0%;

    --accent: 7 87% 83%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 268, 65%, 10%;
    --foreground: 0 0% 100%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --border: 0 0% 100%;
    --input: 0 0% 100%;

    --primary: 184 100% 16%;
    --primary-foreground: 0 0% 100%;

    --secondary: 332 100% 80%;
    --secondary-foreground: 0 0% 100%;

    --accent: 268, 100%, 20%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
